@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.25vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  display: block;
}

button {
  all: unset;
  font: inherit;
  color: inherit;
}

body {
  padding: 12px;
  overflow-x: hidden;
}
@media (min-width: 1280px) {
  body {
    padding: 0.75rem;
  }
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hk-grotesk-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hk-grotesk-medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hk-grotesk-semibold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hk-grotesk-bold.woff2");
  font-weight: 700;
}
.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "HK Grotesk", sans-serif;
}

.nav {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 844px) {
  .nav {
    font-size: 10px;
  }
}

.nav__logo {
  padding-right: 16.875rem;
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__links-container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .nav__links-container {
    display: none;
  }
}

.nav__links-container-left .nav__links {
  display: flex;
  gap: 10rem;
}

.nav__links-container-right .nav__links {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.nav__links-container-right .nav__links button {
  text-transform: uppercase;
}

.nav__hamburger {
  display: none;
}
@media (max-width: 768px) {
  .nav__hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 24px;
  }
}

.nav__hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}
.nav__hamburger span:nth-of-type(1) {
  top: 25%;
}

.nav__hamburger.active span:first-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.nav__hamburger.active span:last-child {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.home {
  padding-bottom: 30rem;
}

.home__title {
  font-size: 20rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  height: 20rem;
  overflow-y: hidden;
  padding-left: 0.3rem;
  color: #642f31;
}
@media (max-width: 767px) {
  .home__title {
    margin-top: 80px;
  }
}

.home__title-span {
  position: absolute;
  transform: translateY(100%);
}

.home__title-images {
  position: absolute;
  width: 14rem;
  height: 14.7rem;
  left: 16rem;
  top: 4.6rem;
  scale: 0;
  transform-origin: top left;
}

.home__title-images img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.home__title-images img:nth-child(1) {
  opacity: 1;
}

.home__title-slide {
  transform: translate(15rem, 100%);
}

.home__medias {
  display: grid;
  gap: 0.75rem;
}
@media (min-width: 768px) {
  .home__medias {
    grid-template-columns: repeat(2, 1fr);
  }
}

.home__img,
.home__video {
  position: relative;
  width: 100%;
  aspect-ratio: 9/11;
  margin-top: 0.75rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .home__img,
  .home__video {
    aspect-ratio: auto;
    height: 58.25rem;
  }
}

.home__img img,
.home__video video {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .home__img img,
  .home__video video {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .home__video {
    margin-top: 59rem;
  }
}

/*# sourceMappingURL=main.css.map */
