nav.nav
    .nav__links-container.nav__links-container--left
        a.nav__logo(href="/") Beings

        ul.nav__links
            li
                a.nav__link(href="/talent") Talent
            li
                a.nav__link(href="/about") About

    .nav__links-container.nav__links-container--right
        ul.nav__links
            li
                a.nav__link(href="/koha") Koha,
            li
                a.nav__link(href="/join") Join,
            li
                button.nav__button Shortlist(0)
