*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: calc(100vw / 1280 * 16);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

button {
    all: unset;
    font: inherit;
    color: inherit;
}
