@font-face {
    font-family: "HK Grotesk";
    src: url("/fonts/hk-grotesk-regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("/fonts/hk-grotesk-medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("/fonts/hk-grotesk-semibold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "HK Grotesk";
    src: url("/fonts/hk-grotesk-bold.woff2");
    font-weight: 700;
}

body {
    font-family: "HK Grotesk", sans-serif;
}
